<% include ./partials/header.ejs %>

<div class="ui main text segment container">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST" >
		<div class="field">
			<input type="text" name="blog[title]" placeholder="title">
		</div>
		<div class="field">
			<input type="text" name="blog[image]" placeholder="image">
		</div>
		<div class="field">
			<textarea type="text" name="blog[body]" placeholder="body"></textarea>
		</div>
		<button class="ui primary button" type="submit">Create</button>
	</form>
</div>

<% include ./partials/footer.ejs %>